# NPM Configuration
init-author-name=Ferdinand Salis-Samaden
init-author-email=mail@ferdinandsalis.com
init-license=MIT
save-exact=false
engine-strict=true
audit-level=moderate
fund=false
progress=true